@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <p>
        <select name="language">
            <option value="Russian">Русский</option>
            <option value="English">English</option>         
            <option value="German">Deutsch</option>
        </select>
    </p>
    
    
    <input type="submit" value="Send" />
</form>